#block-mobile {
  position: absolute;
  z-index: 99;
  height: 100%;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100%;
  font-weight: bolder;
  text-align: center;
  top: 0;
}

@media screen and (min-width: 1000px) {
  #block-mobile {
    display: none;
  }
}

@media screen and (max-width: 1000px) {
  body {
    overflow: hidden;
    height: 100%;
  }

  html {
    -ms-content-zooming: none;
  }
}
